body {
    /*font-family: 'PT Sans', sans-serif;*/
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: #000;
}
h2 {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
}
p, div, a, span {
    line-height: 1.2em;
}

.background-fill {
    /*background-color: #0f6674;*/
    background: rgb(82, 80, 120);
    background: linear-gradient(90deg, rgba(82, 80, 120, 1) 0%, rgba(68, 140, 144, 1) 51%, rgba(11, 153, 182, 1) 100%);

}

.language a {
    background-color: transparent;
    color:#1e2d63;
    padding-right: 0;
    padding-left: 0;
    margin-left: 15px;
}
.language {
    line-height: 1.0em;
}

.nav-tabs {
    border-bottom: none;
    border-color: transparent;
}

.nav-tabs .nav-link:hover{
    border-bottom: none;
    border-color: transparent;
}

.nav-tabs .nav-link:focus{
    border-color: transparent;
}

.language .nav-link.active {
    background-color: transparent;
    border-color: transparent;
    color:#1e2d63;
    /*text-decoration: underline;*/
    border-bottom: solid 1px #1e2d63;
}



.photo {
    margin: 20px auto;
    height: 200px;
    display: block;
}

.round { -moz-border-radius: 100px; /* Firefox */ -webkit-border-radius: 100px; /* Safari, Chrome */ -khtml-border-radius: 100px; /* KHTML */ border-radius: 100px; /* CSS3 */ behavior: url(border-radius.htc); /*IE */ }

.full-name p{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-top: 5px;
}
.fa {
    padding: 0;
    padding-top: 2px;
    position: absolute;
}

.menu__item {
    margin-bottom: 10px;
}

.menu__item a {
    font-size: 16px;
    color: #1e2d63;
    margin: 0px 30px;
}

.alert {
    margin-bottom: 5px;
}

.title {
    padding-top: 20px;
}
