@media (max-width: 1200px) {
	.carousel {
		&__inner {
			width: 90%;
			padding: 0 10px;
		}

		.prev {
			left: -20px;
		}

		.next {
			right: -20px;
		}
	}
}

@media (max-width: 991px) {

	.carousel {
		&__inner {
			width: 80%;
			padding: 0 10px;
		}

		.prev {
			display: none;
		}

		.next {
			display: none;
		}

		.tns-nav {
			width: 30%;
			height: 15px;

			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;

			button {
				background-color: #ccc;
				border: none;
				border-radius: 20%;
				width: 24px;
				height: 12px;
				margin: 0 5px;
				cursor: pointer;
			}

			.tns-nav-active {
				background-color: $main-color;
			}
		}
	}
}

@media (max-width: 767px) {
	.carousel {
		&__inner {
			width: 60%;
			padding: 0 10px;
		}
	}

	.tns-item {
		img {
			width: 90%;
			height: auto;
		}
	}
}

@media (max-width: 575px) {
	.carousel {
		&__inner {
			width: 80%;
			margin: 0 auto;
		}
	}
	
}