@media (max-width: 1200px) {}

@media (max-width: 991px) {
	.promo {
			.header {
				margin: 0 25px;
			}
			&__wrapper {
				margin-right: 25px;
			}
		}
}

@media (max-width: 767px) {

	.promo {
		.header {
			margin: 0 25px;

			&__logo {
				width: 200px;
			}
			
			&__phone {
				font-size: 16px;
			}
		}

		&__wrapper {
			align-items: center;
		}
	}
}

@media (max-width: 575px) {
	.promo {
		.header {
			margin: 0 10px;

			&__logo {
				width: 165px;
			}

			&__phone {
				font-size: 12px;
			}

			&__official {
				span {
					font-size: 17px;
				}
			}
		}

		&__wrapper {
			align-items: center;
		}
	}
}